!!!
%head
  %meta{:charset => "UTF-8"}/
  %title smurakami
  %meta{:content => "smurakami", :name => "keywords"}/
  %meta{:content => "width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no", :name => "viewport"}/
  / %link{:href => "./img/favicon.ico", :rel => "shortcut icon"}/
  / %link{:href => "css/reset.min.css", :rel => "stylesheet"}/
  /[if IE] <script type="text/javascript" src="excanvas.js"></script>
  %link{:href => "css/style.css", :rel => "stylesheet", :type => "text/css"}
  %script{:src => "js/jquery-2.1.0.min.js"}
  %script{:src => "js/main.js"}
%body
  %canvas{ id:"main_canvas", width:"320", height:"320" }
